@-webkit-keyframes swing

{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.categorie-list-container{

  h1{
    padding-top: 5rem;
    font-size: 5rem;
    text-align: center;
    
  font-family: "Bungee Shade", cursive;
    @media screen and (min-width: 1000px) {
      font-size: 7rem;
    };
  }

  

  h3{
    font-size: 5rem;
    @media screen and (max-width: 600px ){
      font-size: 3rem;
    }
    @media screen and (min-width: 1000px ){
      font-size: 8rem;
    }
    @media screen and (min-width: 700px ){
      font-size: 6rem;
    }
  }


  .parent:hover{
    -webkit-animation: swing 0.5s ease-in;
    animation: swing 0.5s ease-in;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  .main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 33.333333%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 10rem;

    @media screen and (min-width: 1000px) {
      flex-wrap: wrap;
      padding-right: 20%;
      padding-left: 20%;
      margin: auto;
      justify-content: center;
    };
    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
      padding-right: 15%;
      padding-left: 15%;
      margin: auto;
      justify-content: center;
    };

    @media screen and (max-width: 700px) {
      flex-wrap: wrap;
      padding-right: 5%;
      padding-left: 5%;
      margin: auto;
      justify-content: center;
    };

    @media screen and (max-width: 500px) {
      flex-wrap: wrap;
      padding-right: 0%;
      padding-left: 0%;
      margin: auto;
      justify-content: center;
    };

    

    
    
  }


  .parent{
    background: #F7EFEF;
    padding: 1rem;
    margin: 2rem;
    margin-top: 3rem;
    width : 10rem;
    height : 10rem;
    border-radius: 50%;
    display : flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 500px) {
      width : 5rem;
      height : 5rem;
      margin-top: 15rem;
    };

    @media screen and (max-width: 600px) {
      width : 5rem;
      height : 5rem;
      margin-top: 15rem;
    };
    @media screen and (min-width: 1000px) {
      width : 30rem;
      height : 30rem;
      margin-top: 15rem;
    };

    @media screen and (min-width: 2250px) {
      width : 40rem;
      height : 40rem;
      margin-top: 15rem;
    };
    

    @media screen and (max-width: 1450px) {
      width : 20rem;
      height : 20rem;
      margin-top: 15rem;
    };
    @media screen and (max-width: 1200px) {
      width : 18rem;
      height : 18rem;
      margin-top: 15rem;
    };
    @media screen and (max-width: 1000px) {
      width : 15rem;
      height : 15rem;
      margin-top: 15rem;
    };
    @media screen and (max-width: 900px) {
      width : 13rem;
      height : 13rem;
      margin-top: 15rem;
    };
    @media screen and (max-width: 750px) {
      width : 12rem;
      height : 12rem;
      margin-top: 15rem;
    };
    @media screen and (max-width: 600px) {
      width : 10rem;
      height : 10rem;
      margin-top: 15rem;
    };
  }

  .container{
    width: min-content;
    text-align: center;
    h2{
      color: gray;
    }
    
  }

};

