.project-container{
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: auto;

  @media screen and (max-width: 1000px) {
    width: 90vw;
  };
  
  h1{
    font-size: 5vh;
    margin-bottom: 1vh ;
  }
  
  h2{
    font-size: 3vh;
  }

  p{
    font-size: 2vh;
    margin-bottom: 5vh ;
  }
  
  img{
    border-radius: 10px;
    margin-bottom: 5vh ;
  }
}





