@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&display=swap");

.categorie-list-container {
  h1 {
    padding-top: 1rem;
    font-size: 3.5rem;
    text-align: center;
    font-family: "Bungee Shade", cursive;
    color: rgb(97, 97, 97);
    .play {
      border-bottom: 1rem solid rgb(237, 161, 161);
      padding: 1rem 2rem;
      color: rgb(49, 49, 49);
    }
  }

  .container-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
  }

  .main-container-home {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: 4rem;
  }
  .specialty-container {
    width: min-content;
    text-align: center;
    margin: 0rem;
    padding: 0rem;
    place-self: center;
    h2 {
      color: #c7c7c7;
      font-size: 1.2rem;
    }
  }
  .parent {
    background: #f7efef;
    margin: 1rem;
    margin-top: 2rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      -webkit-animation: swing 0.5s ease-in;
      animation: swing 0.5s ease-in;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }
    h3 {
      font-size: 3rem;
      font-weight: bold;
      font-family: Montserrat, sans-serif;
    }
    a {
      color: rgb(237, 161, 161);
    }
  }
  .scroll-indication {
    i {
      font-size: 5rem;
      color: rgba(237, 161, 161, 0.4);
      position: absolute;
      bottom: 1rem;
      left: 50%;
      display: none;
    }
  }

  .chatbot-container {
    // display: none;
  }

  // Media Query
  @media screen and(min-width: 650px) {
    .categorie-list-container {
      h1 {
        font-size: 8rem;
        display: none;
      }
    }
    .main-container-home {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 3rem;
      grid-row-gap: 3rem;
      margin: 5rem 50rem;
    }
    .parent {
      width: 15rem;
      height: 15rem;
      h3 {
        font-size: 5rem;
      }
    }

    // Chatbot section
    .chatbot-container {
      position: absolute;
      margin: auto;
      margin-bottom: 20rem;
      right: 20rem;
      // display: none;
    }
    //End Chatbot section
  }
}

@media screen and(min-width: 1000px) {
  .categorie-list-container {
    h1 {
      font-size: 7rem;
      margin-right: 40rem;
    }
    .main-container-home {
      margin-right: 90rem;
      padding-right: 5rem;
      border-right: 0.3rem solid rgb(191, 191, 191);
    }
    .specialty-container {
      margin-right: 1rem;
    }
  }
}

// Animation
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
