.header-container {
  display: flex;
  justify-content: center;
  margin: 0rem auto;
  min-height: 10vh;
  width: 60vw;
  .artilect-name {
    display: flex;
    flex: 1;
    h1 {
      display: none;
    }
    img {
      width: 3rem;
      height: 3rem;
      margin: auto 1rem;
      margin-top: 1.5rem;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      cursor: pointer;
    }
  }

  .profil {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    button,
    img,
    i {
      cursor: pointer;
    }
    button {
      width: 6rem;
      height: 2.5rem;
      border: none;
      border-radius: 0.5rem;
      background: rgb(237, 161, 161);
      color: #ffff;
      margin: auto 0rem;
      margin-top: 2.5rem;
      font-size: 1.2rem;
    }
    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin: 1.5rem;
      margin-left: 1rem;
    }
    i {
      font-size: 1.6rem;
      color: #b3b3b3;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      margin-left: 1rem;
      &:hover {
        color: rgb(237, 161, 161);
        &:visited {
          fill: rgb(237, 161, 161);
          color: rgb(237, 161, 161);
        }
      }
    }
    a {
      margin-top: 2.5rem;
    }
  }

  @media screen and(max-width: 600px) {
    width: 80vw;
    .profil {
      button {
        display: none;
      }
    }
  }

  @media screen and(min-width: 680px) {
    .artilect-name {
      h1 {
        display: flex;
        align-items: center;
        margin-bottom: 0rem;
        color: #555555;
        font-size: 2.5rem;
      }
      a {
        text-decoration: none;
      }
      img {
        width: 4rem;
        height: 4rem;
      }
    }
    .profil {
      button {
        width: 8rem;
        height: 3.5rem;
        font-size: 1.6rem;
      }
      i {
        font-size: 2rem;
      }
      img {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}

.link-router:hover {
  text-decoration: none;
}
