* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
}

html {
  font-size: 62.5%;
}

@import "./main";
@import "./navbar";
@import "./category";
@import "./project";
@import "./loader";
@import "./notification";
@import "./formation";
@import "~react-agenda/build/styles.css";
@import "~react-datetime/css/react-datetime.css";
@import "./tuto";
@import "./calendar"
